<!-- get data.success or data.failed -->
<%if (data.success) {%>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
        <%=data.success%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>	
<%} else if (data.failed) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%=data.failed%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<%}%>