<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Awesome Text Effect</title>
    
    <link rel="stylesheet" href="/stylesheets/img-text.css">
</head>

<body>
    <div class="landing-page">
        <div class="page-content">
          <h1>S o c i a l i z e</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia illo facilis non mollitia eos fuga quas asperiores modi adipisci cupiditate odit rem reiciendis, natus aspernatur.
          </p>
          <a href="/user">Login</a>
          <a href="/user/register">Register</a>
        </div>
      </div>
</body>

</html>