<!doctype html>
<html lang="en">
    <head>
        <%-include('../partials/head')%>
        <title>Socialize: All Feeds</title>
    </head>
    <body>
        <%-include('../partials/navbar')%>

        <div class="container">
            <h1 class="mt-4 mb-4">All Feeds</h1>
            <%-include('../partials/feedList')%>
        </div>

        <%-include('../partials/footer')%>
    </body>
</html>