<!doctype html>
<html lang="en">
    <head>
        <%-include('../partials/head')%>
    </head>
    <body>
        <%-include('../partials/navbar')%>

        <div class="container">
            <%tags.forEach(tag => {%>
                <%=JSON.stringify(tag)%><br>
            <%});%>
        </div>

        <%-include('../partials/footer')%>
    </body>
</html>