<!DOCTYPE html>
<html lang="en">
<head>
	<%-include('../partials/head')%>
</head>
<body>
	<%-include('../partials/navbar')%>
	<div class="container">
		<%-include('../partials/alert')%>

		<div class="signup-form">
			<form method="post">
				<h2>Login</h2>
				<p class="hint-text">Fill it right</p>
				
				<div class="form-group">
					<input type="text" class="form-control" name="username" placeholder="Username" required="required">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password" required="required">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-lg btn-block">Login Now</button>
				</div>
			</form>
			<div class="text-center">Dont have any account? <a href="/user/register">Register</a></div>
		</div>
	</div>
	<%-include('../partials/footer')%>
</body>
</html>                            